body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --square-size: 4rem;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  display: inline-block;
  user-select: none;
  margin-bottom: -4px;
}

.filled-square {
  background-color: black;
}

.empty-square {
  background-color: grey;
}
