@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
  box-sizing: border-box;
  /* border-radius: 8px; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --square-size: 3rem;
  --board-border-color: grey;
  --board-border-size: 2px;
  --alternating-color: rgb(243, 239, 239);
}

.board-nums {
  display: flex;
  /* margin-left: -25vh; */
}

.board {
  background-color: var(--board-border-color);
  border: var(--board-border-size) solid var(--board-border-color);
}

.row {
  display: flex;
  min-width: 0;
  width: 100%;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  user-select: none;
  background-color: white;
  border: var(--board-border-size) solid var(--board-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-fill {
  pointer-events: none;
  width: var(--square-size);
  height: var(--square-size);
  border: var(--board-border-size) solid var(--board-border-color);
}

.alternating-color {
  font-size: calc(var(--square-size) - 1rem);
  font-family: "Orbitron", sans-serif;
}

.alternating-color:nth-child(odd) {
  background-color: var(--alternating-color);
}

.column-nums {
  display: flex;
  justify-content: space-between;
  height: 25vh;
}

.column-nums-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  width: 100%;
}

.column-nums-list:first-child {
  border-left: var(--board-border-size) solid rgba(0, 0, 0, 0);
}

.column-nums-list:last-child {
  border-right: var(--board-border-size) solid rgba(0, 0, 0, 0);
}

.row-nums {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 25vh;
}

.row-nums-list {
  height: calc(var(--square-size));
  display: flex;
  align-items: center;
  justify-content: right;
  border-left: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-right: var(--board-border-size) solid rgba(0, 0, 0, 0);
}

.row-nums-list:first-child {
  height: calc(var(--square-size));
  box-sizing: content-box;
  border-top: var(--board-border-size) solid rgba(0, 0, 0, 0);
}

.row-nums-list:last-child {
  height: calc(var(--square-size));
  box-sizing: content-box;
  border-bottom: var(--board-border-size) solid rgba(0, 0, 0, 0);
}

.test:not(:last-child) {
  margin-right: 1rem;
}

.test:last-child {
  margin-right: 0.5rem;
}
