@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Source+Sans+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
  border-radius: 8px;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

:root {
  --square-size: 5vw;
  --board-border-color: rgb(102, 102, 102);
  --board-border-size: 2px;
  --alternating-color: rgb(242, 242, 242);
}

.game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-container {
  height: 100%;
}

.menu {
  background-color: rgb(51, 51, 51);
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.clock {
  font-size: 5vmin;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.75vmin;
}

.title {
  background-color: black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 80%;
  text-align: center;
  font-size: 3vmin;
}

.board-nums {
  display: flex;
  border: 10px solid white;
  background-color: white;
}

.board {
  background-color: var(--board-border-color);
  border: var(--board-border-size) solid var(--board-border-color);
}

.row {
  display: flex;
  min-width: 0;
  width: 100%;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  user-select: none;
  background-color: white;
  border: calc(var(--square-size) / 20) solid var(--board-border-color);
  border-radius: calc(var(--square-size) / 8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-fill {
  pointer-events: none;
  width: var(--square-size);
  height: var(--square-size);
  border: calc(var(--square-size) / 20) solid var(--board-border-color);
  border-radius: calc(var(--square-size) / 8);
}

.alternating-color {
  font-size: calc(var(--square-size) / 2.5);
  font-family: "Orbitron", sans-serif;
}

.alternating-color:nth-child(odd) {
  background-color: var(--alternating-color);
}

.column-nums {
  display: flex;
  justify-content: space-between;
}

.column-nums-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  min-width: var(--square-size);
  min-height: 20vmin;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column-nums-list:first-child {
  box-sizing: content-box;
  border-left: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
}

.column-nums-list:last-child {
  box-sizing: content-box;
  border-right: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-bottom-right-radius: 8px;
}

.column-num {
  min-height: calc(var(--square-size) / 2.5);
}

.row-nums {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.row-nums-list {
  min-height: calc(var(--square-size));
  min-width: 30vmin;
  display: flex;
  align-items: center;
  justify-content: right;
  border-left: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-right: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.row-nums-list:first-child {
  box-sizing: content-box;
  border-top: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-top-right-radius: 8px;
}

.row-nums-list:last-child {
  box-sizing: content-box;
  border-bottom: var(--board-border-size) solid rgba(0, 0, 0, 0);
  border-bottom-right-radius: 8px;
}

.row-num {
  min-width: calc(var(--square-size) / 2.5);
  text-align: center;
}
